@*@model IEnumerable<Order>
    <h1>Lista zakupów</h1>

    @foreach(var o in Model)
    {
        @o.Name
        @o.Country
        @o.Lines.Count()
    }*@

@model IEnumerable<Order>
@{
    ViewData["Title"] = "Lista zamówień";
}

<table class="table">
    <thead>
        <tr>
            <th>Imię i nazwisko</th>
            <th>Misto</th>
            <th>Kraj</th>
            <th>Kod pocztowy</th>
            <th>Ilość produktów</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order order in Model)
        {
        <tr>
            <td>@order.Name</td>
            <td>@order.City</td>
            <td>@order.Country</td>
            <td>@order.Zip</td>
            <td>@order.Lines.Count()</td>
        </tr>
        }
    </tbody>
</table>

