@model ProductListViewModel


@foreach (var p in Model.Products)
{
<div class="card m-5">
    <div class="card-header">
        @p.Name
    </div>
    <div class="card-body">
        <h5 class="card-title">@p.Category</h5>
        <p class="card-text">@p.Description</p>
        <p class="card-text">@p.Price</p>
        <form asp-controller="Cart" asp-action="AddToCart" method="post">
            <input type="hidden" asp-for="@p.ProductID"/>
            <button type="submit" class="btn btn-primary">Dodaj do koszyka</button>
        </form>

        <a href="#" class="btn btn-primary">Edytuj</a>
        <a href="#" class="btn btn-primary">Usuń</a>
    </div>
</div>
    
}

<div page-model="@Model.PageInfo" 
     page-action="Index" 
     page-url-category="@ViewBag.SelectedCat" 
     page-class-enabled="true" 
     page-class="btn" 
     page-class-normal="btn-secondary" 
     page-class-selected="btn-primary"
     class="btn-group mr-2 ml-5"></div>
<a href="#" class="btn btn-primary ml-0">Dodaj produkt</a>
